<!DOCTYPE>
<html>

<head>
	<title>MCU Movies</title>
	<link href='https://fonts.googleapis.com/css?family=Rochester' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>

	<nav>
		<div class="title">
			<a href='/'><img src="https://i.imgur.com/306BU1m.png" alt="MCU" id="mcu"></a>
			<a href='/'>
				<h1> Movie Database </h1>
			</a>
		</div>
		<a href='/actors/index'>
			<h3>Actors</h3>
		</a>
		<a href='/directors/index'>
			<h3>Directors</h3>
		</a>
	</nav>

	{{{ body }}}

	{{!--
	<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/script.js"></script> --}}
</body>

</html>