* {
    background: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    height: 60%;
    width: auto;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    background: rgb(66, 66, 66);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.title {
    background: rgb(66, 66, 66);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#mcu {
    background: rgb(66, 66, 66);
    height: 50%;
    width: auto;
    padding-right: 20px;
}

.title h1 {
    background: rgb(66, 66, 66);
    font-size: 30px;
    margin: 0;
}

nav h3 {
    background: rgb(66, 66, 66);
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header button {
    margin-top: 18px;
    line-height: 30px;
    background: rgb(6, 6, 83);
    color: whitesmoke;
    border-color: maroon;
    padding: 0 20px;
    font-size: 18px;
}

.main-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 1424px;
}

.movie-container {
    margin: 5px;   
    border: 5px solid black;
    border-radius: 8px;
    height: 600px;
}

.movie-container img {
        height: 40%;
        width: auto;
}

button {
    margin-top: 18px;
    line-height: 30px;
    background: rgb(6, 6, 83);
    color: whitesmoke;
    border-color: maroon;
    padding: 0 20px;
    font-size: 18px;
}

.actor-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 1424px;
}

.actor-container {
    margin: 5px;   
    border: 5px solid black;
    border-radius: 8px;
    width: 450px;
    height: 400px;
}

.actor-container img {
    height: 60%;
    width: auto;
}

.director-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 1424px;
}

.director-container {
    margin: 5px;   
    border: 5px solid black;
    border-radius: 8px;
    width: 690px;
    height: 400px;
    align-content: center;
}

.director-container img {
    height: 80%;
    width: auto;
}

@media (max-width: 1200px) {

}