a {
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav h1 {
    font-size: 30px;
}

nav h3 {
    margin-top: 30px;
}

img {
    height: 30%;
    width: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header button {
    margin-top: 18px;
    line-height: 30px;
    background: rgb(6, 6, 83);
    color: whitesmoke;
    border-color: maroon;
    padding: 0 20px;
    font-size: 18px;
}

.main-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25% 25% 25% 25%;
}

.movie-container {
    margin: 5px;
    display: inline-block;   
    border: 5px solid black;
    border-radius: 8px;
}