<main>

	<h2>Add a new movie</h2>

	<div id="edit-form" class="newMovie-container-show">

		<form action="/" method="POST" class="create-movie">
			<p><input type="text" name="name" placeholder="Movie Title"></p>
			<p><input type="text" name="description" placeholder="Movie description"></p>
			<p><input type="text" name="release" placeholder="Release date"></p>
			<p><input type="text" name="rating" placeholder="Rating"></p>	
            <p><input type="text" name="img" placeholder="Image link"></p>

			<button type="submit">Add Movie</button>
		</form>

	</div>
</main>